@import '../../styles/variables.scss';

.dropDown {
  position: absolute;
  z-index: 100;
  margin-top: 0.5rem;
  width: 100%;
  left: 0;
  background-color: white;
  border: {
    style: solid;
    width: 1px;
    color: $border-gray;
    radius: 0.2rem;
  }
  @extend %box-shadow;

  li {
    border-bottom: {
      style: solid;
      width: 1px;
      color: $border-gray;
    }

    @include mobile {
      font-size: medium;
    }
  }
}
