@use '../styles/variables.scss';
@import '../styles/variables.scss';

.mainContainer {
  @extend %flex-column;
  align-items: center;
  width: 100%;
  margin-top: 1.3rem;

  @include mobile {
    margin-top: 2rem;
  }
}
