@use '../../styles/globalStyle.scss';
@import '../CocktailPreveiw_bg/SimpleCocktailPreview.scss';

.detailPreviewContainer {
  @extend .recipePreviewContainer;
  position: relative;
  margin: {
    top: 1rem;
    bottom: 2.5rem;
  }
  .cocktailEval {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
  }
}

.imgAndNameContainer {
  @extend %flex-column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  p {
    margin: 0;
  }
}

.cocktailContents {
  @extend %flex-column;
  height: 100%;
  width: 36rem;
  padding-top: 3rem;
  p {
    margin: 0;
  }
}
