@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

.previewContainer {
  @extend %flex-column;
  justify-content: space-between;
  align-items: center;
  height: 17rem;
  width: 12rem;
  color: black;
  @extend %box-shadow;
  &:hover {
    @extend %box-shadow-hover;
  }

  @include mobile {
    margin: 0 0.5rem;
  }
}

.previewImgContainer {
  @extend %flex-column;
  @extend %center;

  height: 12rem;
  width: 12rem;
  overflow: hidden;

  @include mobile {
    height: 6.5rem;
    width: 6.5rem;
  }
}

.previewImg {
  max-height: 100%;
  width: 100%;
  object-fit: scale-down;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

.altImg {
  height: 100%;
  width: 100%;
  object-fit: scale-up;
}

.cocktailInfoContainer_sm {
  @extend %flex-column;
  @extend %center;
  margin-bottom: 0.5rem;
}

.cocktailKorName {
  margin-bottom: 0;
  padding: 0 0.5rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include mobile {
    font-size: small;
  }
}
.cocktailName {
  @extend .cocktailKorName;
  margin-top: 0;
  font: {
    size: 0.8rem;
    style: italic;
  }

  @include mobile {
    font-size: x-small;
  }
}

.cocktailEval {
  @extend %flex-row;
  align-items: center;
  margin: 0;

  @include mobile {
    font-size: x-small;
    svg {
      font-size: x-small;
    }
  }
}
