@use '../../styles/globalStyle.scss';
@import '../../styles/colors.scss';

.previewContainer {
  @extend %flex-column;
  align-items: center;
  box-shadow: 0px 4px 10px $shadow;
}

.previewImgContainer {
  @extend %flex-column;
  height: 13rem;
  width: 13rem;
  overflow: hidden;
}

.previewImg {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.altImg {
  height: 100%;
  width: 100%;
  object-fit: scale-up;
}

.cocktailName {
  margin-bottom: 0;
}

.cocktailEval {
  @extend %flex-row;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5rem;
}
