@use '../../styles/globalStyle.scss';
@import '../../styles/colors.scss';

.keywordBox {
  margin: 3rem 0;
  h1 {
    font-size: 18px;
    color: $text-gray-light;
  }
}

.keywords {
  @extend %flex-row;
  flex-wrap: wrap;
  margin: 0.8rem 0;
  margin-left: 3.8rem;
}
