@import '../../styles/variables.scss';

.keyword {
  height: 1.8rem;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: 0.25rem;
  border-color: $border-gray;

  p {
    font-size: 0.8rem;
    color: $text-gray;
  }
}

.hashtag {
  color: $primary;
}
