@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

.simplePreviewContainer {
  @extend %flex-column;
  margin: {
    top: 1rem;
    bottom: 4rem;
  }
  width: 100%;
}

.recipePreviewContainer {
  color: black;
  @extend %flex-row;
  height: 30rem;
  box-shadow: 0 0 30px $shadow;
  padding: 2rem 1.5rem;
  &:hover {
    box-shadow: 0 0 30px $shadow-hover;
    cursor: pointer;
  }

  @include mobile {
    flex-direction: column;
    height: 100%;
    padding: 0 0 2.5rem 0;
    border-radius: $border-radius-bg;
  }
}

.cocktailInfoContainer {
  @extend %flex-row;
  width: 100%;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.cocktailImg,
.cocktailImg-border {
  @extend %flex-column;
  @extend %center;
  max-height: 25rem;
  width: 18rem;
  overflow: hidden;
  img {
    max-height: 100%;
    width: 100%;
    object-fit: scale-down;
  }

  @include mobile {
    max: {
      height: 25rem;
    }
    img {
      width: 20rem;
    }
  }
}

.cocktailImg-border {
  @include mobile {
    border-top-left-radius: $border-radius-bg;
    border-top-right-radius: $border-radius-bg;
  }
}

.cocktailInfo {
  position: relative;
  width: 32rem;
  h2 {
    @extend %flex-row;
    align-items: center;
    top: 0;
    font: {
      size: 36px;
      weight: 500;
    }
    margin-bottom: 0;
  }
  hr {
    background-color: black;
    height: 0.1rem;
    border: none;
  }

  @include mobile {
    width: 100%;
  }
}

.cocktailDetail {
  h2 {
    @extend %flex-row;
    align-items: flex-end;

    span {
      margin: {
        bottom: 0.2rem;
        left: 0.4rem;
      }
      font: {
        style: italic;
        size: 1.4rem;
      }
      color: $text-deep-gray;
    }
  }
  @include mobile {
    padding: 0 1.5rem;
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
    h3 {
      margin-bottom: 0.4rem;
      font: {
        size: 1rem;
        weight: 500;
      }
      text: {
        decoration: {
          line: underline;
          color: $text-light-gray;
        }
        underline-position: under;
      }
    }
  }
}

.favoriteStar {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: $primary;
  cursor: pointer;

  @include mobile {
    font-size: 1.5rem;
  }
}

.ABV {
  margin: {
    left: 0.6rem;
    top: 0.5rem;
  }
  color: $text-light-gray;
  font: {
    style: italic;
    size: 0.9rem;
  }
}

.eval {
  position: absolute;
  @extend %flex-row;
  align-items: center;
  border: solid;
  border-width: 1px;
  padding: 0.2rem 0.6rem;
  right: 0.4rem;
  p {
    padding-left: 0.5rem;
    margin: 0;
  }

  @include mobile {
    border: none;
    svg {
      color: $primary;
    }
  }
}

.cocktailContent {
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
}
