@use '../../styles/globalStyle.scss';
@import '../../styles/colors.scss';

.simplePreviewContainer {
  @extend %flex-column;
  margin: 1rem 0;
  width: 100%;
}

.recipePreviewContainer {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  padding: 2rem 3rem;
  box-shadow: 0 0 30px $shadow;
}

.cocktailImg {
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max: {
    height: 25rem;
  }
  overflow: hidden;
  img {
    width: 20rem;
  }
}

.cocktailInfo {
  position: relative;
  height: 27rem;
  width: 30rem;
  h2 {
    top: 0;
    font: {
      size: 36px;
      weight: 500;
    }
  }
}

.eval {
  position: absolute;
  @extend %flex-row;
  align-items: center;
  right: 0;
  bottom: -1.5rem;
  p {
    padding-left: 0.5rem;
  }
}

.simppleKeywords {
  @extend %flex-row;
  flex-wrap: wrap;
}

.cocktailContent {
  font-size: 20px;
  line-height: 1.5rem;
}
