@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

.materialContainer {
  margin: 1.5rem 0;
  h1 {
    font-size: 18px;
    color: $text-deep-gray;
  }
  cursor: default;

  @include mobile {
    margin: 0 0 1rem 0;
  }
}

@mixin materialBox {
  @extend %flex-row;
  flex-wrap: wrap;
  align-items: center;
}

.ingredientsContainer_sm {
  @include materialBox;
  justify-content: space-between;
  width: 100%;
}

.ingredientsArrow {
  color: black;
  font-size: large;
  cursor: pointer;
}
.disabled {
  color: $text-lighter-gray;
  cursor: default;
}

.ingredients {
  @include materialBox;
  width: 92%;
  @include mobile {
    flex-wrap: nowrap;
    margin: 0;
    margin-left: 1rem;
    width: 100%;
    overflow-x: scroll;
  }
}

.keywords {
  @include materialBox;
  justify-content: right;
  margin-top: 1rem;

  @include mobile {
    flex-wrap: nowrap;
    justify-content: left;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
  }
}
