@use '../../styles/globalStyle.scss';
@import '../../styles/colors.scss';

.materialContainer {
  margin: 2rem 0;
  h1 {
    font-size: 18px;
    color: $text-gray-light;
  }
}

@mixin materialBox {
  @extend %flex-row;
  flex-wrap: wrap;
  margin-left: 2.5rem;
}

.ingredients {
  @include materialBox;
  position: relative;
  width: 27rem;
  svg {
    top: 1.5rem;
    font-size: x-large;
  }
  .arrowLeft {
    left: -1.5rem;
  }
  .arrowRight {
    right: -1.5rem;
  }
}

.keywords {
  margin: 0.8rem 0;
  @include materialBox;
}
