@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

.materialContainer {
  margin: 2rem 0;
  h1 {
    font-size: 18px;
    color: $text-deep-gray;
  }
  cursor: default;
}

@mixin materialBox {
  @extend %flex-row;
  flex-wrap: wrap;
}

.ingredients {
  @include materialBox;
  position: relative;
  margin-left: 2.5rem;
  width: 27rem;
  svg {
    top: 2rem;
    font-size: x-large;
  }
  .arrowLeft {
    left: -1.5rem;
  }
  .arrowRight {
    right: -1.5rem;
  }
}

.keywords {
  @include materialBox;
  justify-content: right;
  margin-top: 4.3rem;
}
