@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

%arrow {
  position: absolute;
  top: 11.1rem;
  font-size: 1.7rem;
  color: $gray;
  cursor: pointer;
}

.listContainer {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;

  @include mobile {
    margin-bottom: 1rem;
    h1 {
      margin: 0;
    }
  }
}

.cocktailContainer {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  height: 17rem;

  @include mobile {
    height: 11.5rem;
    overflow-y: hidden;
  }
}

.arrowLeft {
  @extend %arrow;
  left: -3rem;
}

.arrowRight {
  @extend %arrow;
  right: -3rem;
}
