@use '../../styles/globalStyle.scss';
@import '../../styles/colors.scss';

%arrow {
  position: absolute;
  top: 11.1rem;
  font-size: 1.7rem;
  color: $gray;
  cursor: pointer;
}

.listContainer {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
}

.cocktailContainer {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  height: 17rem;
}

.arrowLeft {
  @extend %arrow;
  left: -3rem;
}

.arrowRight {
  @extend %arrow;
  right: -3rem;
}
