@use '../styles/variables.scss';
@import '../styles/variables.scss';

.footerContainer {
  @extend %flex-row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 1.5rem 3rem;
  color: $text-deep-gray;
  background-color: $background-footer;
  border-top: $border;
  div,
  span {
    padding: 0.2rem 0;
    font-size: 0.8rem;
  }
}

.projectInfo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 30rem;
}

.developers {
  margin-right: 0.2rem;
  color: $text-light-gray;
}

.developer {
  color: $text-light-gray;
  &Email {
    @extend .developer;
    margin-left: 0.2rem;
  }
}

.guide {
  text-align: right;
  line-height: 1.2rem;
}
