@use '../../../styles/variables.scss';

.ingredientInRefrigerator {
  position: relative;
  @extend %flex-column;
  align-items: center;
  span {
    padding-top: 0.5rem;
  }
  &Editting {
    @extend .ingredientInRefrigerator;
    cursor: pointer;
  }
}
