@use '../styles/variables.scss';

.myComment {
  position: relative;
  @extend %flex-column;
  align-items: flex-end;

  span {
    margin-right: 6rem;
  }
}

.myRating {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 1rem 0;
}
