$primary: #c72323;
$primary-border: #d34949;

$gray: gray;
$border-gray: #c9c9c9;

$text-gray: #3b3b3b;
$text-deep-gray: #000000a6;
$text-light-gray: #0000006c;

$shadow: #00000029;
$shadow-hover: #0000004d;
