$primary: #c72323;
$gray: gray;
$light-gray: #f4f4f4;
$light-gray-active: #e8e5e5;

$primary-border: #d34949;
$border-gray: #c9c9c9;

$text-gray: #3b3b3b;
$text-deep-gray: #000000a6;
$text-light-gray: #0000006c;

$shadow: #00000029;
$shadow-hover: #0000004d;
