@use '../../styles/variables.scss';
@import '../../styles/variables.scss';

.searchContainer {
  position: absolute;
  background-color: white;
  top: 2.5rem;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  border: $border;
  border-radius: $border-radius-small;
  @extend %box-shadow;
  z-index: 100;
}

.search {
  &Input {
    width: 100%;
    margin: 0;
  }

  &List {
    width: 100%;
    max-height: 14.5rem;
    margin: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    overflow-y: scroll;
  }
}

.searchedItem {
  padding: {
    top: 0.4rem;
    bottom: 0.4rem;
  }
  font-size: medium;
}
